#title{
    border: 5px ridge grey;
    background-image: linear-gradient(to right, #43cea2, #185a9d);
    display: flex;
    justify-content: center;
    text-shadow: 1px 3px 1px blue;
    color: darkblue;
    border-radius: .30cm;
    margin: 0rem 20rem;
}

p{
    display: flex;
    justify-content: center;
    text-decoration: underline black;
}

#message-display{
        display: flex;
        justify-content: center;
        text-decoration: underline black;
}

#score-counter{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0rem 20rem;
}

#reset-button{
    margin-left: 43rem;
    margin-bottom: 1rem;
}

#reset-button:hover{
    background-color: green;
}

#player-layout{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0rem 20rem;
}

#p1{
    border: 5px solid teal;
    text-decoration: underline black;
    vertical-align: left;
    border-radius: .30cm;
    height: 36.5rem;
    width: 22.75rem;
    box-shadow: 5px 5px 5px aqua;
}

#p1score{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}


#p2{
    border: 5px solid aqua;   
    text-decoration: underline black;
    vertical-align: right;
    border-radius: .30cm;
    height: 36.5rem;
    width: 22.75rem;
    box-shadow: 5px 5px 5px darkgoldenrod;
}

#p2score{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#button-container{
    margin: 0rem 21rem;
    margin-top: 1rem;
}

.stat-btns{
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 28.5px;
}

#p1stats{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(4, 84, 3);
    background-image: linear-gradient(to bottom right, #4EB15D, #72C07D);
    border-radius: .20cm;
}

.bordered{
    display: flex;
    border: 3px solid black;
    background-color: white;
    border-radius: .20cm;
}

.bordered2{
    display: flex;
    border: 3px solid black;
    background-color: white;
    border-radius: .30cm;
    margin-top: 10px;
}

#p2stats{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(93, 1, 1);
    background-image: linear-gradient(to bottom right, #ea3609, #790804);
    border-radius: .20cm;
}

.stats{
    margin: .1px;
}

.pokemon-image{
    height: 30%;
    width: 50%;
}

